<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
  <body>
    <%- include('./partials/nav') %>
    <main>
      <% if (locals.currentUser) { %>
        <h1>Hello <%= locals.currentUser.username %></h1>
        <ul>
          <% messages.forEach(msg => { %>
            <li>
              <p><%= msg.user %></p>
              <p><%= msg.subject %></p>
              <p><%= msg.content %></p>
              <p><%= msg.timestamp %></p>
              <% if (locals.currentUser.admin) { %>
                <form action="/delete/<%= msg.id %>" method="post">
                  <button type="submit">Delete</button>
                </form>
              <% } %>
            </li>
          <% }) %>
        </ul>
      <% } else { %>
        <h1>Login or sign-up</h1>
      <% } %>
    </main>
  </body>
</html>
